ATOM_DEVELOPMENT_MODE=off
ATOM_ELASTICSEARCH_HOST=elasticsearch
ATOM_MEMCACHED_HOST=memcached
ATOM_GEARMAND_HOST=gearmand
ATOM_MYSQL_DSN=mysql:host=percona;port=3306;dbname=atom;charset=utf8mb4
ATOM_MYSQL_USERNAME=atom
ATOM_MYSQL_PASSWORD=CAMBIAR_ESTA_CONTRASENA
